<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15638435625-u87dss8ho0ph1jbr9grvlai44rda3m6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15638435625-u87dss8ho0ph1jbr9grvlai44rda3m6l</string>
	<key>API_KEY</key>
	<string>AIzaSyCTISfuB-4V81ibrk87SaDSjqEhwrVTmbM</string>
	<key>GCM_SENDER_ID</key>
	<string>15638435625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Planify</string>
	<key>PROJECT_ID</key>
	<string>planify-b6b2b</string>
	<key>STORAGE_BUCKET</key>
	<string>planify-b6b2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15638435625:ios:d87da50755ba069b500938</string>
</dict>
</plist>